/*! purgecss start ignore */
@import "nav.css";
@import "code.css";
@import "tailwindcss/base";
@import "layout.css";
@import "tailwindcss/components";
@import "ffoxobliq.css";
/*! purgecss end ignore */
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  font-family: "Ubuntu";
}

/* Custom CSS for header partial */
.backdrop-blur {
  -webkit-backdrop-filter: blur(40px);
}

.bg-semi-white {
  background-color: rgba(255, 255, 255, 0.75);
}

/* Custom css allowing image styling in markdown */
img[src*="#small"] {
  width: 68px;
}

img[src*="#medium"] {
  width: 150px;
  margin: auto;
}

img[src*="#large"] {
  width: 400px;
  margin: auto;
}

@layer components {
  h1 {
    @apply text-3xl lg:text-5xl font-light;
  }
  h2 {
    @apply text-2xl lg:text-4xl font-light;
  }
}

h3 {
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

h4 {
  font-size: 1.3em;
  font-weight: 500;
}

p {
  font-size: 15px;
}

a {
  border: none;
}
