
<div clas="flex flex-col">
    <div class="lg:pt-24 flex flex-col mb-12 mr-24">
        <h4 class="text-base not-italic font-medium leading-6 text-gray-600 mb-6"> FILTER POSTS BY</h4>
        <a class="mb-3" href="">All</a>
        <a class="mb-3" href="">Engineering</a>
        <a class="mb-3" href="">Community</a>
        <a class="mb-3" href="">Use Cases</a>
    </div>
    
    <div class="lg:pt-6 flex flex-col mb-12 w-64 mr-24">
        <h4 class="text-base not-italic font-medium leading-6 text-gray-600 mb-6"> POPULAR POSTS</h4>
        <a class="mb-3 text-blue-700" href="">NEAR Launches Nightshade Sharding, Paving the Way for Mass Adoption</a>
        <a class="mb-3" href="">Engineering</a>
        <a class="mb-3" href="">Community</a>
        <a class="mb-3" href="">Use Cases</a>
    </div>
</div>