<body>
        
    <div class="relative mt-12 lg:mt-16 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
      <div class="relative mx-24">
        <h3 class="text-base not-italic leading-6 text-gray-600">FEATURED POST</h3>
        <a href={{featured.permalink}} class="">
            <h1 class="text-5xl fw-500 leading-snug font-normal mb-10">
                {{ featured.title }}
            </h1>
        </a>
        
        <h4 class="text-sm not-italic font-light leading-6 text-gray-600"> 
            {{ featured.date | date(format="%B %e, %Y", timezone="America/Chicago")}} - 
            {{ featured.extra.author }}
        </h4>
            
      </div>

      <div class="mt-10 -mx-4 relative lg:mt-0 max-w-full">
        <img class="relative mx-auto max-w-full max-h-80" src=/{{featured.extra.imgPath}} alt="" />
      </div>
    </div>

  </div>
</div>
</body> 