
<header class="flex m-0 items-center justify-between fixed bg-white w-full h-16">
      <nav class="text-black font-bold mt-2 pt-1 text-lg ml-4 md:ml-8 lg:ml-10 xb:ml-16 w-full">
          <a href="/" class="font-sans text-black active:text-gray-400 hover:text-gray-400" style="border: 0 !important; text-decoration: none !important;">OurWorld</a>
      </nav>
      <input type="checkbox" id="nav-toggle" class="nav-toggle" aria-hidden="true" />
      <label for="nav-toggle" class="nav__icon" aria-hidden="true">
        Expand the menu
          <span class="nav__icon-line"></span>
          <span class="nav__icon-line"></span>
          <span class="nav__icon-line"></span>
      </label>
      <nav role="navigation" class="nav h-16">
        <ul class="nav__items">
          <li class="nav__item">
            <a href="/about" class="text-black" title="About">About</a>
          </li>
          <li class="nav__item">
            <a href="/blog" class="text-black" title="Posts">Posts</a>
          </li>
        </ul>
      </nav>
    </header>
