<body>
        
    <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center m-20">
      <div class="relative lg:w-11/12">
          <h1 class="text-5xl fw-500 font-normal mb-10">
            {{ section.title }}
          </h1>
          <p class="text-sm leading-6 text-gray-800">
              {{ section.description }}
          </p>
      </div>

      <div class="mt-10 -mx-4 relative lg:mt-0 max-w-full">
        <img class="relative mx-auto max-w-full max-h-80 mr-0" src={{section.extra.imgPath}} alt="" />
      </div>
    </div>

  </div>
</div>
</body> 